asgiref
attrs
certifi
celery
charset-normalizer
Django
django-ckeditor-5
django-debug-toolbar
django-environ
django-filter
djangorestframework
django-import-export
djangorestframework_simplejwt
drf-spectacular
google-analytics-data
idna
inflection
jalali_core
jdatetime
jsonschema
jsonschema-specifications
Markdown
openpyxl
pillow
PyJWT
python-slugify
referencing
requests
text-unidecode
typing_extensions
tzdata
uritemplate
urllib3